In [1]:
from scipy.stats import gamma
import pandas as pd
import numpy as np
import datetime

# astronomical data

sunrise, sunset, moonrise, moonset, moonphase

In [9]:
# sunrise/set

sunrise_2020, sunset_2020, _ = pd.read_html('https://www.esrl.noaa.gov/gmd/grad/solcalc/table.php?lat=37.831318&lon=-122.28524&year=2020')

In [11]:
# sunrise/set 2019

sunrise_2019, sunset_2019, _ = pd.read_html('https://www.esrl.noaa.gov/gmd/grad/solcalc/table.php?lat=37.831318&lon=-122.28524&year=2019')

In [12]:
sunrise_2019

,Day,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1,07:25,07:13,06:41,06:55,06:13,05:49,05:51,06:12,06:39,07:05,07:34,07:06
1,2,07:25,07:12,06:39,06:53,06:12,05:48,05:51,06:13,06:40,07:06,07:35,07:07
2,3,07:25,07:12,06:38,06:52,06:11,05:48,05:52,06:14,06:41,07:06,06:37,07:08
3,4,07:25,07:11,06:37,06:50,06:10,05:48,05:52,06:15,06:42,07:07,06:38,07:09
4,5,07:25,07:10,06:35,06:49,06:09,05:48,05:53,06:16,06:42,07:08,06:39,07:09
5,6,07:25,07:09,06:34,06:47,06:08,05:47,05:53,06:17,06:43,07:09,06:40,07:10
6,7,07:25,07:08,06:32,06:46,06:07,05:47,05:54,06:18,06:44,07:10,06:41,07:11
7,8,07:25,07:07,06:31,06:44,06:06,05:47,05:54,06:18,06:45,07:11,06:42,07:12
8,9,07:25,07:06,06:29,06:43,06:05,05:47,05:55,06:19,06:46,07:12,06:43,07:13
9,10,07:25,07:05,07:28,06:41,06:04,05:47,05:56,06:20,06:47,07:13,06:44,07:14
10,11,07:25,07:04,07:26,06:40,06:03,05:47,05:56,06:21,06:47,07:14,06:45,07:14
11,12,07:24,07:02,07:25,06:38,06:02,05:46,05:57,06:22,06:48,07:15,06:46,07:15
12,13,07:24,07:01,07:23,06:37,06:01,05:46,05:58,06:23,06:49,07:16,06:47,07:16
13,14,07:24,07:00,07:22,06:35,06:00,05:46,05:58,06:24,06:50,07:16,06:48,07:17
14,15,07:23,06:59,07:20,06:34,05:59,05:47,05:59,06:24,06:51,07:17,06:49,07:17
15,16,07:23,06:58,07:19,06:33,05:58,05:47,06:00,06:25,06:52,07:18,06:50,07:18
16,17,07:23,06:57,07:17,06:31,05:58,05:47,06:00,06:26,06:53,07:19,06:51,07:19
17,18,07:22,06:55,07:16,06:30,05:57,05:47,06:01,06:27,06:53,07:20,06:53,07:19
18,19,07:22,06:54,07:14,06:29,05:56,05:47,06:02,06:28,06:54,07:21,06:54,07:20
19,20,07:21,06:53,07:13,06:27,05:55,05:47,06:03,06:29,06:55,07:22,06:55,07:20
20,21,07:21,06:52,07:11,06:26,05:55,05:47,06:03,06:30,06:56,07:23,06:56,07:21
21,22,07:20,06:50,07:10,06:25,05:54,05:48,06:04,06:30,06:57,07:24,06:57,07:21
22,23,07:20,06:49,07:08,06:23,05:53,05:48,06:05,06:31,06:58,07:25,06:58,07:22
23,24,07:19,06:48,07:07,06:22,05:53,05:48,06:06,06:32,06:59,07:26,06:59,07:22
24,25,07:19,06:46,07:05,06:21,05:52,05:48,06:07,06:33,06:59,07:27,07:00,07:23
25,26,07:18,06:45,07:04,06:19,05:52,05:49,06:07,06:34,07:00,07:28,07:01,07:23
26,27,07:17,06:44,07:02,06:18,05:51,05:49,06:08,06:35,07:01,07:29,07:02,07:23
27,28,07:16,06:42,07:01,06:17,05:51,05:49,06:09,06:36,07:02,07:30,07:03,07:24
28,29,07:16,NaN,06:59,06:16,05:50,05:50,06:10,06:36,07:03,07:31,07:04,07:24
29,30,07:15,NaN,06:58,06:15,05:50,05:50,06:11,06:37,07:04,07:32,07:05,07:24
30,31,07:14,NaN,06:56,NaN,05:49,NaN,06:12,06:38,NaN,07:33,NaN,07:25

In [7]:
sun_2020[2]

,Day,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1,12:12:38,12:22:42,12:21:18,13:12:45,13:06:09,13:07:07,13:13:11,13:15:26,13:08:54,12:58:33,11:52:40,11:58:29
1,2,12:13:06,12:22:50,12:21:05,13:12:27,13:06:03,13:07:17,13:13:22,13:15:21,13:08:35,12:58:14,11:52:39,11:58:52
2,3,12:13:33,12:22:57,12:20:53,13:12:10,13:05:57,13:07:27,13:13:33,13:15:16,13:08:15,12:57:56,11:52:40,11:59:16
3,4,12:14:01,12:23:03,12:20:39,13:11:52,13:05:52,13:07:38,13:13:44,13:15:10,13:07:55,12:57:37,11:52:41,11:59:41
4,5,12:14:28,12:23:08,12:20:25,13:11:35,13:05:47,13:07:48,13:13:54,13:15:04,13:07:35,12:57:19,11:52:43,12:00:06
5,6,12:14:54,12:23:13,12:20:11,13:11:18,13:05:43,13:07:59,13:14:04,13:14:57,13:07:15,12:57:02,11:52:46,12:00:31
6,7,12:15:20,12:23:16,12:19:57,13:11:02,13:05:39,13:08:11,13:14:13,13:14:49,13:06:54,12:56:44,11:52:50,12:00:58
7,8,12:15:46,12:23:19,13:19:42,13:10:45,13:05:36,13:08:22,13:14:22,13:14:41,13:06:33,12:56:28,11:52:54,12:01:24
8,9,12:16:11,12:23:21,13:19:26,13:10:29,13:05:34,13:08:34,13:14:31,13:14:32,13:06:12,12:56:11,11:53:00,12:01:51
9,10,12:16:36,12:23:22,13:19:11,13:10:13,13:05:32,13:08:46,13:14:39,13:14:23,13:05:52,12:55:55,11:53:06,12:02:18
10,11,12:16:59,12:23:23,13:18:55,13:09:58,13:05:30,13:08:59,13:14:47,13:14:13,13:05:30,12:55:40,11:53:13,12:02:46
11,12,12:17:23,12:23:22,13:18:38,13:09:42,13:05:30,13:09:11,13:14:54,13:14:03,13:05:09,12:55:25,11:53:21,12:03:14
12,13,12:17:46,12:23:21,13:18:22,13:09:27,13:05:30,13:09:24,13:15:01,13:13:52,13:04:48,12:55:11,11:53:30,12:03:43
13,14,12:18:08,12:23:19,13:18:05,13:09:13,13:05:30,13:09:36,13:15:07,13:13:40,13:04:27,12:54:57,11:53:40,12:04:11
14,15,12:18:29,12:23:17,13:17:48,13:08:59,13:05:31,13:09:49,13:15:13,13:13:28,13:04:05,12:54:43,11:53:51,12:04:40
15,16,12:18:50,12:23:13,13:17:31,13:08:45,13:05:33,13:10:02,13:15:18,13:13:16,13:03:44,12:54:31,11:54:02,12:05:10
16,17,12:19:10,12:23:09,13:17:13,13:08:31,13:05:35,13:10:15,13:15:23,13:13:03,13:03:22,12:54:19,11:54:14,12:05:39
17,18,12:19:30,12:23:05,13:16:56,13:08:18,13:05:37,13:10:28,13:15:27,13:12:49,13:03:01,12:54:07,11:54:28,12:06:08
18,19,12:19:49,12:22:59,13:16:38,13:08:05,13:05:40,13:10:41,13:15:31,13:12:35,13:02:40,12:53:56,11:54:41,12:06:38
19,20,12:20:07,12:22:53,13:16:20,13:07:53,13:05:44,13:10:54,13:15:34,13:12:20,13:02:18,12:53:46,11:54:56,12:07:08
20,21,12:20:24,12:22:46,13:16:03,13:07:41,13:05:48,13:11:07,13:15:37,13:12:05,13:01:57,12:53:37,11:55:12,12:07:37
21,22,12:20:41,12:22:39,13:15:45,13:07:30,13:05:53,13:11:20,13:15:39,13:11:50,13:01:36,12:53:28,11:55:28,12:08:07
22,23,12:20:56,12:22:31,13:15:27,13:07:19,13:05:58,13:11:33,13:15:40,13:11:34,13:01:15,12:53:20,11:55:45,12:08:37
23,24,12:21:11,12:22:22,13:15:08,13:07:08,13:06:04,13:11:46,13:15:41,13:11:18,13:00:54,12:53:12,11:56:03,12:09:07
24,25,12:21:26,12:22:13,13:14:50,13:06:58,13:06:11,13:11:59,13:15:41,13:11:01,13:00:33,12:53:05,11:56:22,12:09:36
25,26,12:21:39,12:22:03,13:14:32,13:06:49,13:06:17,13:12:11,13:15:41,13:10:44,13:00:13,12:52:59,11:56:41,12:10:06
26,27,12:21:52,12:21:52,13:14:14,13:06:40,13:06:25,13:12:24,13:15:40,13:10:26,12:59:52,12:52:54,11:57:01,12:10:35
27,28,12:22:03,12:21:41,13:13:56,13:06:31,13:06:32,13:12:36,13:15:38,13:10:09,12:59:32,12:52:50,11:57:22,12:11:04
28,29,12:22:14,12:21:30,13:13:38,13:06:23,13:06:40,13:12:48,13:15:36,13:09:50,12:59:12,12:52:46,11:57:44,12:11:33
29,30,12:22:24,NaN,13:13:20,13:06:16,13:06:49,13:12:59,13:15:34,13:09:32,12:58:53,12:52:43,11:58:06,12:12:02
30,31,12:22:34,NaN,13:13:02,NaN,13:06:58,NaN,13:15:30,13:09:13,NaN,12:52:41,NaN,12:12:31

# Clean Sierra data

In [2]:
df = pd.read_csv('./data.csv')

df = df.loc[df.Activity=='Nursing', [
    'Date and Time', 'End Time', 'Duration (min)', 'Text'
]]

df.rename(columns={
    'Date and Time': 'start', 
    'End Time': 'end', 
    'Duration (min)': 'duration', 
    'Text': 'notes'
}, inplace=True)

df.start = pd.to_datetime(df.start)
df.end = pd.to_datetime(df.end)

df = df[~df['end'].isnull()]
df['duration'] = df['duration'].astype(int)
df['left'] = 0
df['right'] = 0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1053 entries, 0 to 1414
Data columns (total 6 columns):
start       1053 non-null datetime64[ns]
end         1053 non-null datetime64[ns]
duration    1053 non-null int64
notes       1053 non-null object
left        1053 non-null int64
right       1053 non-null int64
dtypes: datetime64[ns](2), int64(3), object(1)
memory usage: 57.6+ KB

In [4]:
for index, feeding in df.iterrows():
    sides = {
        'left': 0,
        'right': 0
    }
    try:
        clean_string = (
            feeding['notes'].split('(')[1]
                   .split(')')[0]
                   .replace(',', '')
                   .replace('m', '')
                   .split(' ')
        )
        for side in sides:
            try:
                sides[side] = clean_string[clean_string.index(side) - 1]
#                 if 'h' in sides[side]:
#                     hour_min = sides[side].split('h')
#                     mins = int(hour_min[0]) * 60 + int(hour_min[1])
                    
                df.loc[index, side] = sides[side]
            except ValueError:
                pass
            
    except:
        # have spurious rows like 'Sierra Marie Guignard nursed'
        pass

In [5]:
def hour_splitter(string):

    if type(string) is int:
        return string
    elif 'h' in string: 
        h, m = string.split('h')
        if not m:
            m = 0
        return 60 * int(h) + int(m)
    else:
        return string

In [6]:
df['left'] = df['left'].apply(hour_splitter)
df['right'] = df['right'].apply(hour_splitter)

In [7]:
df['left'] = df['left'].astype(int)
df['right'] = df['right'].astype(int)

In [8]:
df.describe()

          duration         left        right
count  1053.000000  1053.000000  1053.000000
mean     28.691358    14.415954    14.158594
std      14.281549    12.658118    13.047096
min       2.000000     0.000000     0.000000
25%      18.000000     4.000000     5.000000
50%      27.000000    13.000000    12.000000
75%      35.000000    21.000000    20.000000
max     104.000000    75.000000    90.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1053 entries, 0 to 1414
Data columns (total 6 columns):
start       1053 non-null datetime64[ns]
end         1053 non-null datetime64[ns]
duration    1053 non-null int64
notes       1053 non-null object
left        1053 non-null int64
right       1053 non-null int64
dtypes: datetime64[ns](2), int64(3), object(1)
memory usage: 97.6+ KB

In [50]:
df.head()

,start,end,duration,notes,left,right,days_old,weeks_old
0,2020-03-25 14:02:00,2020-03-25 14:12:00,10,"Sierra Marie Guignard nursed (6m right, 4m left)",4,6,159,22
1,2020-03-25 10:48:00,2020-03-25 10:59:00,10,"Sierra Marie Guignard nursed (5m right, 5m left)",5,5,159,22
2,2020-03-25 07:39:00,2020-03-25 08:14:00,35,"Sierra Marie Guignard nursed (25m left, 10m ri...",25,10,159,22
3,2020-03-24 19:27:00,2020-03-24 19:38:00,11,"Sierra Marie Guignard nursed (5m right, 6m left)",6,5,158,22
4,2020-03-24 15:51:00,2020-03-24 15:59:00,8,"Sierra Marie Guignard nursed (5m left, 3m right)",5,3,158,22

In [53]:
# moon phase
# moon rise
# sunrise
# sunset
# time of day (feeding)
df['start'].dt.time[0]

datetime.time(14, 2)

In [45]:
# create days_old and weeks_old

df['birthday'] = pd.to_datetime(datetime.date(2019, 10, 18))

df['days_old'] = (df['start'] - df['birthday']).dt.days
df['weeks_old'] = df['days_old'] // 7
del df['birthday']

Example of d3 using time format we have here: https://gist.github.com/d3netxer/10a28b7aee406f4e7fce

# TODO:

- sunrise/sunset/moonrise/moonset/moonphase

In [54]:
df.to_csv('./data_clean.csv', index=False)

# New Section